p{
    color: azure;
    background-color: black;
}

h1{
    color: chartreuse;
    background-color: black;
    font-size: smaller;
}

#div{
    color: red;
    background-color: blue;
    font-size: x-large;
}

.first{
    color: chocolate;
}

#dec .sec em{
    color: darkgreen;
    background-color: darkseagreen;
    /*this a way of styling*/
}

.serif{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    color: black;
}

.fontsize{
    font-size: x-large;
}
.fontsizeInpx{
    font-size: 15px;
}
.fontstyle{
    font-style: italic;
    background-color: chartreuse;
    color: black;
    font-weight: bolder;
    
}
.fontvary{
    font-variant: small-caps;
}
h6{
    color: lawngreen;
}
h5{
    color: #000000;
}
h4{
    color: rgb(white, green, blue);
}

.textalign{
    text-align: right;
}

.textvertop{
    vertical-align: top;
}
.textvercent{
    vertical-align: middle;
}
.textverbot{
    vertical-align: bottom;
}
.textdecoration{
    text-decoration: overline;
    color: black;
    background-color: white;
    /*there are four text decoration: 1-none
    2-inherit   3-overline  4- underline  5-line-through */
}